﻿@using ReedTestDevices.Models
@model ReedTestDevices.Models.User

@{
    ViewBag.Title = "Home Page";
}

@section scripts{
    <script src="~/Scripts/custom/Index.js"></script>
}

<div class="access-denied-container">
    <div class="" style="text-align:center">
        <img src="..//Content/images/accessDeniedWhite.png" style="width:750px; height:auto;" />
        <div class="access-denied-text-container">
            <p>You do not have permission to view this page.</p>
            <p id="accessDenied-p2">Please contact your system administrator for more information.</p>
        </div>
    </div>
</div>