﻿@model ReedTestDevices.Models.Device

@{
    ViewBag.Title = "CreateNewDevice";
}
<div class="page-container">
    <h1>Add New Device</h1>

<div class="page-content">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="edit-container create-device-container">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-row">
            <div class="form-label">
                @Html.LabelFor(model => model.DeviceModel)
            </div>
            <div class="form-field">
                @Html.EditorFor(model => model.DeviceModel, new { htmlAttributes = new { @class = "form-input", @placeholder = "e.g. iPhone 6", @autofocus = "autofocus" } })
                @Html.ValidationMessageFor(model => model.DeviceModel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-row">
            <div class="form-label">
                @Html.LabelFor(model => model.OperatingSystem)
            </div>
            <div class="form-field">
                @Html.EditorFor(model => model.OperatingSystem, new { htmlAttributes = new { @class = "form-input", @placeholder = "e.g. 8.0.2" } })
                @Html.ValidationMessageFor(model => model.OperatingSystem, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-row">
            <div class="form-label">
                @Html.LabelFor(model => model.ScreenResolution)
            </div>
            <div class="form-field">
                @Html.EditorFor(model => model.ScreenResolution, new { htmlAttributes = new { @class = "form-input", @placeholder = "e.g. 1334 x 750" } })
                @Html.ValidationMessageFor(model => model.ScreenResolution, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-row">
            <div class="form-label">
                @Html.LabelFor(model => model.Manufacturer)
            </div>
            <div class="form-field">
                @Html.EditorFor(model => model.Manufacturer, new { htmlAttributes = new { @class = "form-input", @placeholder = "iOS / Andriod / Windows" } })
                @Html.ValidationMessageFor(model => model.Manufacturer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="button-row">
            <input type="submit" value="Add" class="save-button" />
        </div>
    </div>
    }

    <div class="back-link">
        @Html.ActionLink("« Back to Devices", "SearchDevices")
    </div>

    @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
    }
</div>
</div>