﻿@using Microsoft.Ajax.Utilities
@model IEnumerable<ReedTestDevices.Models.Device>
           


@{
    ViewBag.Title = "Devices";
}

@section scripts{
    <script src="~/Scripts/custom/devices.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    
<script type="text/javascript">
    var tags = ["c++", "java", "php", "coldfusion", "javascript", "asp", "ruby"];
    $("#txtSearch").autocomplete({
        source: '/Home/GetStuff'
    });
</script>

}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">




<div class="page-container">
    <div class="header">
        <h1>Devices</h1>
        @if (@ViewBag.IsAdmin)
        {
            <p class="create-new-text-link">
                @Html.ActionLink("Add new device »", "AddNewDevice", new { fromDevices = true })
            </p>
        }
        else
        {
            <div class="nonAdmin-MissingLink"></div>
        }
    </div>
    <div class="messagePanelContainer" style="clear:both;">
        <div id="messagePanel-error">
            <span id="message"></span>
        </div>
        <div id="messagePanel-success">
            <span id="message"></span>
        </div>
    </div>
    <div>
       @using (@Html.BeginForm("AutoComplete", "Home"))
       {
           //@Html.TextBox("GetDevices", null, new { id = "txtSearch" })
           <input id="txtSearch"/>
           <input type="Submit" value="Search" />
       }
        
    </div>
    <table class="device-table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeviceModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperatingSystem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScreenResolution)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr class="return-rows" @(item.User != null ? "" : "style=display:none")>
                <td>
                    <div class="hiredOut-PopUp">
                        <div class="yellow-text">
                            <span style="font-weight:bold;"><div class="popup-info-icon">i</div> UNAVAILABLE @Html.DisplayFor(modelItem => item.DeviceModel)</span>
                        </div>
                        <div class="hiredOut-info">
                            <div><text>@Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)</text></div>
                            <div>@Html.DisplayFor(modelItem => item.CheckedOutDate)</div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="yellow-text">@Html.DisplayFor(modelItem => item.OperatingSystem)</div>
                </td>
                <td>
                    <div class="yellow-text">@Html.DisplayFor(modelItem => item.ScreenResolution)</div>
                </td>
                <td>
                    @if (@ViewBag.IsAdmin)
                    {
                        <div class="return-Link-Admin returnReturn">
                            <a href="" class="returnDeviceLink" data-deviceid="@item.Id">Return</a>
                            <div class="confirm-returnDevice" style="display: none;">
                                <h4>Are you sure you want to return @item.DeviceModel?</h4>
                                <div class="delete-btns-container">
                                    <input type="submit" value="No" class="no-btn" />
                                </div>
                                <div class="delete-btns-container">
                                    <input type="submit" value="Yes" class="yes-btn" data-deviceid="@item.Id" data-userid="@item.User.Id" /> <!--Added user id-->  
                                </div>
                            </div>
                        </div>
                        <div class="return-Link-Admin returnEdit">
                            @Html.ActionLink("Edit", "EditDevice", new { id = item.Id })
                        </div>
                        <div class="return-Link-Admin returnDelete">
                            <a href="" class="deleteLink" data-deviceid="@item.Id">Delete</a>
                            <div class="confirm-delete">
                                <h4>Are you sure you want to delete @item.DeviceModel?</h4>
                                <div class="delete-btns-container">
                                    <input type="submit" value="No" class="no-btn" />
                                </div>
                                <div class="delete-btns-container">
                                    <input type="submit" value="Yes" class="yes-btn" data-deviceid="@item.Id" />
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        if (item.User != null)
                        {
                            if (item.User.Id == @ViewBag.UserId)
                            {
                                <div class="return-Link-Admin returnReturn">
                                    <a href="" class="returnDeviceLink" data-deviceid="@item.Id">Return</a>
                                    <div class="confirm-returnDevice" style="display: none;">
                                        <h4>Are you sure you want to return @item.DeviceModel?</h4>
                                        <div class="delete-btns-container">
                                            <input type="submit" value="No" class="no-btn" />
                                        </div>
                                        <div class="delete-btns-container">
                                            <input type="submit" value="Yes" class="yes-btn" data-deviceid="@item.Id" data-userid="@item.User.Id" /> <!--Added user id-->  
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <span class="yellow-text" style="float:right;">Unavailable!</span>
                            }
                        }
                    }
                </td>
            </tr>
            <tr class="checkOut-rows" @(item.User != null ? "style=display:none" : "")>
                <td>
                    <div>@Html.DisplayFor(modelItem => item.DeviceModel)</div>
                </td>
                <td>
                    <div>@Html.DisplayFor(modelItem => item.OperatingSystem)</div>
                </td>
                <td>
                    <div>@Html.DisplayFor(modelItem => item.ScreenResolution)</div>
                </td>
                <td>
                    @if (@ViewBag.IsAdmin)
                    {
                        <div class="checkOut-Link-Admin checkoutCheckout">
                            @Html.ActionLink("Check out", "CheckOutDevice", new { id = item.Id })
                        </div>
                        <div class="checkOut-Link-Admin checkoutEdit">
                            @Html.ActionLink("Edit", "EditDevice", new { id = item.Id })
                        </div>
                        <div class="checkOut-Link-Admin checkoutDelete">
                            <a href="" class="deleteLink" data-deviceid="@item.Id">Delete</a>
                            <div class="confirm-delete">
                                <h4>Are you sure you want to delete @item.DeviceModel?</h4>
                                <div class="delete-btns-container">
                                    <input type="submit" value="No" class="no-btn" />
                                </div>
                                <div class="delete-btns-container">
                                    <input type="submit" value="Yes" class="yes-btn" data-deviceid="@item.Id" />
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="checkOut-Link-Admin checkoutCheckout">
                            @Html.ActionLink("Check out", "CheckOutDevice", new { id = item.Id })
                        </div>
                    }
                </td>
            </tr>
        }
    </table>
</div>