﻿@using System.Data.Entity.Infrastructure
@model ReedTestDevices.Models.CheckOutViewModel

@{
    ViewBag.Title = "CheckOutDevice";
}
<div class="page-container">
    <h2 style="padding-left:50px;">Check Out @Html.DisplayFor(model => model.Device.DeviceModel)</h2>
    
    @if (@ViewBag.IsAdmin)
    {
        <div class="checkout-page-content">
            <dl class="device-checkOut">
                <dt>
                    @Html.DisplayNameFor(model => model.Device.DeviceModel)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Device.DeviceModel)
                </dd>
                <div class="clearfix"></div>
                <dt>
                    @Html.DisplayNameFor(model => model.Device.OperatingSystem)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Device.OperatingSystem)
                </dd>
                <div class="clearfix"></div>
                <dt>
                    @Html.DisplayNameFor(model => model.Device.ScreenResolution)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Device.ScreenResolution)
                </dd>
            </dl>
            <div class="userList">
                <h3>Select a user</h3>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="deviceId" value="@Model.Device.Id"/>
                    <div class="dropdown-wrapper">
                        <select class="userName-dropDown" name="userId">
                            @foreach (var user in Model.ListOfUsers)
                            {
                                <option value="@user.Id">
                                    @Html.DisplayFor(model => user.FirstName) @Html.DisplayFor(model => user.LastName)
                                </option>
                            }
                        </select>
                    </div>
                    <div class="create-new-user">@Html.ActionLink("Or create a new user »", "AddNewUser", "Users", new {fromUsers = false, deviceId = Model.Device.Id}, null)</div>
                    <div class="checkout-button-row">
                        <input type="submit" value="Check Out" class="checkout-button" name="CheckOutDevice" />
                    </div>
                }
            </div>
        </div>
    }
    else
    {
            <div class="page-content nonAdmin">
                <dl class="device-checkOut nonAdmin">
                    <dt>
                        @Html.DisplayNameFor(model => model.Device.DeviceModel)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Device.DeviceModel)
                    </dd>
                    <div class="clearfix"></div>
                    <dt>
                        @Html.DisplayNameFor(model => model.Device.OperatingSystem)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Device.OperatingSystem)
                    </dd>
                    <div class="clearfix"></div>
                    <dt>
                        @Html.DisplayNameFor(model => model.Device.ScreenResolution)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Device.ScreenResolution)
                    </dd>
                </dl>
                
                <div class="checkout-button-row nonAdmin">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="userId" value="@ViewBag.UserId" />
                        <input type="hidden" name="deviceId" value="@Model.Device.Id"/>
                        <input type="submit" value="Check Out" class="checkout-button" name="CheckOutDevice" />
                    }
                 </div>
                

            </div>
            }
    <div class="back-link">
        @Html.ActionLink("« Back to Devices", "SearchDevices")
    </div>
        </div>
