﻿@model ReedTestDevices.Models.Device

@{
    ViewBag.Title = "Delete";
}
<div class="page-container">
    <h1>Delete @Html.DisplayFor(model => model.DeviceModel)</h1>
    <div class="page-content">
        <dl class="dl-container">
            <dt>
                @Html.DisplayNameFor(model => model.DeviceModel)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DeviceModel)
            </dd>
            <div class="clearfix"></div>

            <dt>
                @Html.DisplayNameFor(model => model.OperatingSystem)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OperatingSystem)
            </dd>
            <div class="clearfix"></div>

            <dt>
                @Html.DisplayNameFor(model => model.ScreenResolution)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ScreenResolution)
            </dd>

        </dl>
        <div class="delete-button-row">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="Delete" class="delete-button" />
            }
        </div>
        <div class="back-link">
            @Html.ActionLink("« Back to Devices", "SearchDevices")
        </div>
    </div>
</div>
