﻿@model ReedTestDevices.Models.Device

@{
    ViewBag.Title = "Edit";
}
<div class="page-container">
    <h1>Edit @Html.DisplayFor(model => Model.DeviceModel)</h1>

    <div class="messagePanelContainer editDevice">
        <div id="messagePanel-error">
            <span id="message"></span>
        </div>
        <div id="messagePanel-success">
            <span id="message"></span>
        </div>
    </div><div class="page-content">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="edit-container edit-device-container">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                <div class="form-row">
                    <div class="form-label">
                        @Html.LabelFor(model => model.DeviceModel)
                    </div>
                    <div class="form-field">
                        @Html.EditorFor(model => model.DeviceModel, new { htmlAttributes = new { @class = "form-input" } })
                        @Html.ValidationMessageFor(model => model.DeviceModel, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-label">
                        @Html.LabelFor(model => model.OperatingSystem)
                    </div>
                    <div class="form-field">
                        @Html.EditorFor(model => model.OperatingSystem, new { htmlAttributes = new { @class = "form-input" } })
                        @Html.ValidationMessageFor(model => model.OperatingSystem, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-label">
                        @Html.LabelFor(model => model.ScreenResolution)
                    </div>
                    <div class="form-field">
                        @Html.EditorFor(model => model.ScreenResolution, new { htmlAttributes = new { @class = "form-input" } })
                        @Html.ValidationMessageFor(model => model.ScreenResolution, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-label">
                        @Html.LabelFor(model => model.Manufacturer)
                    </div>
                    <div class="form-field">
                        @Html.EditorFor(model => model.Manufacturer, new { htmlAttributes = new { @class = "form-input" } })
                        @Html.ValidationMessageFor(model => model.Manufacturer, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="button-row">
                    <input type="submit" value="Save" class="save-button" />
                </div>
            </div>
        }

        <div class="back-link">
            @Html.ActionLink("« Back to Devices", "SearchDevices")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
            <script tyle="text/javascript" src="~/Scripts/custom/EditDevice.js"></script>
        }
    </div>
</div>