﻿@using ReedTestDevices.Models
@model ReedTestDevices.Models.User

@{
    ViewBag.Title = "";
}

@section scripts{
    <script src="~/Scripts/custom/Index.js"></script>
}

<div class="homepage-container">
    <div class="search-box-container">
        @using (Html.BeginForm("SearchDevices", "Home", FormMethod.Get))
        {
            <input id="keyword" name="keyword" type="text" value="" class="search-textbox" placeholder="Search devices" autofocus="autofocus"> 
            <input type="submit" value="" class="search-btn">
        }
    </div>
    <div class="more-options-search">
        
        <div class="more-options-link-open">
            <a href="#">More options<span></span></a>
        </div>
        <div class="more-options-link-close">
            <a href="#">Close<span></span></a>
        </div>
        
        <div class="more-Options-Container">
            <ul>
                <li>@Html.ActionLink("iOS", "SearchDevices", new { keyword = "ios" })</li>
                <li>@Html.ActionLink("Available devices", "SearchDevices", new { keyword = "available" })</li>
            </ul>
            <ul>
                <li>@Html.ActionLink("Android", "SearchDevices", new { keyword = "Android" })</li>
                <li>@Html.ActionLink("Unavailable devices", "SearchDevices", new { keyword = "unavailable" })</li>
            </ul>
            <ul>
                <li>@Html.ActionLink("Windows", "SearchDevices", new { keyword = "Windows" })</li>
                <li>@Html.ActionLink("My devices", "SearchDevices", new { userById = @ViewBag.UserId })</li>
            </ul>
        </div>
    </div>
</div>