﻿@model IEnumerable<ReedTestDevices.Models.Device>

@{
    ViewBag.Title = "Devices";
}


<div class="page-container">
    <div class="header">
        <h1>Devices</h1>
        @if (@ViewBag.IsAdmin)
        {
            <p class="create-new-text-link">
                @Html.ActionLink("Add new device »", "AddNewDevice", new { fromDevices = true })
            </p>
        }
        else
        {
            <div class="nonAdmin-MissingLink"></div>
        }
    </div>
    <div class="messagePanelContainer" style="clear:both;">
        <div id="messagePanel-error">
            <span id="message"></span>
        </div>
    </div>
    <table class="device-table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeviceModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperatingSystem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScreenResolution)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr class="return-rows" @(item.User != null ? "" : "style=display:none")>
                <td style="width: 398px;">
                    <div class="hiredOut-PopUp">
                        <div class="yellow-text">
                            <span style="font-weight: bold;"><div class="popup-info-icon">i</div> UNAVAILABLE @Html.DisplayFor(modelItem => item.DeviceModel)</span>
                        </div>
                        <div class="hiredOut-info">
                            <div>@Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)</div>
                            <div>@Html.DisplayFor(modelItem => item.CheckedOutDate)</div>

                            
                        </div>
                    </div>
                </td>
                <td>
                    <div class="yellow-text">@Html.DisplayFor(modelItem => item.OperatingSystem)</div>
                </td>
                <td>
                    <div class="yellow-text">@Html.DisplayFor(modelItem => item.ScreenResolution)</div>
                </td>
                <td>
                    @if (@ViewBag.IsAdmin)
                    {
                        <div class="return-Link-Admin returnReturn">
                            <a href="" class="returnDeviceLink" data-deviceid="@item.Id">Return</a>
                            <div class="confirm-returnDevice" style="display: none;">
                                <h4>Are you sure you want to return @item.DeviceModel?</h4>
                                <div class="delete-btns-container">
                                    <input type="submit" value="No" class="no-btn"/>
                                </div>
                                <div class="delete-btns-container">
                                    <input type="submit" value="Yes" class="yes-btn" data-deviceid="@item.Id" data-userid="@ViewBag.UserId"/>
                                </div>
                            </div>
                        </div>
                        <div class="return-Link-Admin returnEdit">
                            @Html.ActionLink("Edit", "EditDevice", new {id = item.Id})
                        </div>
                        <div class="return-Link-Admin returnDelete">
                            <a href="" class="deleteLink" data-deviceid="@item.Id">Delete</a>
                            <div class="confirm-delete">
                                <h4>Are you sure you want to delete @item.DeviceModel?</h4>
                                <div class="delete-btns-container">
                                    <input type="submit" value="No" class="no-btn"/>
                                </div>
                                <div class="delete-btns-container">
                                    <input type="submit" value="Yes" class="yes-btn" data-deviceid="@item.Id"/>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    { 
                        // TODO Do this if in javascript.  The return link is not automatically shown when checked out for non admins 
                        if (item.User != null)
                        {
                            if (item.User.Id == @ViewBag.UserId)
                            {
                                <div class="return-Link-Admin returnReturn">
                                    <a href="" class="returnDeviceLink" data-deviceid="@item.Id">Return</a>
                                    <div class="confirm-returnDevice" style="display: none;">
                                        <h4>Are you sure you want to return @item.DeviceModel?</h4>
                                        <div class="delete-btns-container">
                                            <input type="submit" value="No" class="no-btn"/>
                                        </div>
                                        <div class="delete-btns-container">
                                            <input type="submit" value="Yes" class="yes-btn" data-deviceid="@item.Id" data-userid="item.User.id"/>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <span class="yellow-text" style="float: right;">Unavailable!</span>
                            }
                        }
                    }
                </td>

                
            </tr>
            <tr class="checkOut-rows" @(item.User != null ? "style=display:none" : "")>
                <td style ="width:398px;">
                    <div>@Html.DisplayFor(modelItem => item.DeviceModel)</div>
                </td>
                <td>
                    <div>@Html.DisplayFor(modelItem => item.OperatingSystem)</div>
                </td>
                <td>
                    <div>@Html.DisplayFor(modelItem => item.ScreenResolution)</div>
                </td>
                <td>
                    @if (@ViewBag.IsAdmin)
                    {
                        <div class="checkOut-Link-Admin checkoutCheckout">
                            @Html.ActionLink("Check out", "CheckOutDevice", new {id = item.Id}, new {loggedinuserid = @ViewBag.UserId})
                        </div>
                        <div class="checkOut-Link-Admin checkoutEdit">
                            @Html.ActionLink("Edit", "EditDevice", new { id = item.Id })
                        </div>
                        <div class="checkOut-Link-Admin checkoutDelete">
                            <a href="" class="deleteLink" data-deviceid="@item.Id">Delete</a>
                            <div class="confirm-delete">
                                <h4>Are you sure you want to delete @item.DeviceModel?</h4>
                                <div class="delete-btns-container">
                                    <input type="submit" value="No" class="no-btn" />
                                </div>
                                <div class="delete-btns-container">
                                    <input type="submit" value="Yes" class="yes-btn" data-deviceid="@item.Id" />
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="checkOut-Link-Admin checkoutCheckout">
                            <a href="" class="checkOutLink" data-deviceid="@item.Id" data-userid="@ViewBag.UserId">Check out</a>
                            <div class="confirm-checkout">
                                <h4>Are you sure you want to check out @item.DeviceModel?</h4>
                                <div class="checkout-btns-container">
                                    <input type="submit" value="No" class="no-btn" />
                                </div>
                                <div class="checkout-btns-container">
                                    <input type="submit" value="Yes" class="yes-btn" data-deviceid="@item.Id" data-userid="@ViewBag.UserId" />
                                </div>
                            </div>
                        </div>
                    }
                </td>
            </tr>
        }
    </table>
</div>
@section scripts{
    <script src="~/Scripts/custom/devices.js"></script>
}