﻿@using System.Activities.Statements
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Devices - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300,700|Indie+Flower' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Oswald:400,300,700' rel='stylesheet' type='text/css'>

</head>
<body>
    <div class="inner-body-container">
        <header>
            <div class="navbar-container">
                @Html.ActionLink("Test Devices", "Index", "Home", new { area = "" }, new { @class = "navbar-logo" })
            </div>
        </header>
        <div>
            @RenderBody()
        </div>
        <footer>
            <p style="float:left;">&copy; @DateTime.Now.Year - reed.co.uk Test Devices</p>
            
            @if (ViewBag.IsAdmin)
            {
                <p class="floatTextRight">@Html.ActionLink("Users »", "Index", "Users")</p>
            }
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
