﻿@model ReedTestDevices.Models.User

@{
    ViewBag.Title = "AddNewUser";
}

<div class="page-container">
    <h1>Add New User</h1>

    <div class="page-content">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="edit-container create-user-container">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-row">
                    <div class="form-label">
                        @Html.LabelFor(model => model.FirstName)
                    </div>
                    <div class="form-field">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-input" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-label">
                        @Html.LabelFor(model => model.LastName)
                    </div>
                    <div class="form-field">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-input" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-label">
                        @Html.LabelFor(model => model.EmailAddress)
                    </div>
                    <div class="form-field">
                        @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-input" } })
                        @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                    </div>
                </div>

                <input type="hidden" value="@ViewBag.FromUsers" />
                <input type="hidden" value="@ViewBag.DeviceId" />
                <div class="button-row">
                    <input type="submit" value="Add" class="save-button new-user-btn" />
                </div>
            </div>
        }

        <div class="back-link">
            @if (ViewBag.FromUsers)
            {
                @Html.ActionLink("« Back to Users", "Index")
            }
            else
            {
                @Html.ActionLink("« Back to check out device", "CheckOutDevice", "Home",  new { id = @ViewBag.DeviceId }, null)
            }
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</div>