﻿@model ReedTestDevices.Models.User

@{
    ViewBag.Title = "DeleteUser";
}

<div class="page-container">
    <h1>Delete User</h1>
<div class="page-content">
        <dl class="dl-container">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <div class="clearfix"></div>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <div class="clearfix"></div>

            <dt>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmailAddress)
            </dd>

        </dl>
        <div class="delete-button-row">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="Delete" class="delete-button" />
            }
        </div>
        <div class="back-link">
            @Html.ActionLink("« Back to Users", "Users")
        </div>
    </div>
</div>