﻿@using System.Activities.Expressions
@model ReedTestDevices.Models.User

@{
    ViewBag.Title = "EditUser";
}

<div class="page-container">
    <h1>Edit User</h1>

    <div class="messagePanelContainer editUsers" style="clear:both;">
        <div id="messagePanel-error">
            <span id="message"></span>
        </div>
        <div id="messagePanel-success">
            <span id="message-isAdmin">Update successful. @Model.FirstName is now an admin user.</span>
            <span id="message-notAdmin">Update successful. @Model.FirstName is no longer an admin user.</span>
            <span id="message-edit-successful">Update successful.</span>
        </div>
    </div>

    <div class="page-content">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="edit-container">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-row">
                    <div class="form-label">
                        @Html.LabelFor(model => model.FirstName)
                    </div>
                    <div class="form-field">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-input" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-label">
                        @Html.LabelFor(model => model.LastName)
                    </div>
                    <div class="form-field">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-input" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-label">
                        @Html.LabelFor(model => model.EmailAddress)
                    </div>
                    <div class="form-field">
                        @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-input" } })
                        @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="assign-admin-link">

                    <a href="" id="RemoveAdmin" @(Model.IsAdmin ? "" : "style=display:none")>Unassign admin »</a>
                    <a href="" id="AssignAdmin" @(Model.IsAdmin ? "style=display:none" : "")>Assign admin »</a>

                </div>
                <div class="button-row">
                    <input type="submit" value="Save" class="save-button" />
                </div>
            </div>
        }

        <div class="back-link">
            @Html.ActionLink("« Back to Users", "Index")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval");
            <script src="~/Scripts/custom/EditUser.js"></script>

        }
    </div>
</div>
