﻿@using ReedTestDevices.DataAccess
@model IEnumerable<ReedTestDevices.Models.User>


@{
    ViewBag.Title = "Users";
}

@section scripts{
    <script src="~/Scripts/custom/users.js"></script>
}

<div class="page-container">
    <div class="header">
        <h1 style="float:left;">Users</h1>

        <p class="create-new-text-link" style="float:right; padding-top:52px;">
            @Html.ActionLink("Add new user »", "AddNewUser", new { fromUsers = true })
        </p>
    </div>
    <div class="messagePanelContainer" style="clear:both;">
        <div id="messagePanel-error">
            <span id="message"></span>
        </div>
        <div id="messagePanel-success">
            <span id="message"></span>
        </div>
    </div>
    <table class="device-table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {

            var userRepository = new UserRepository();

            var userHasDevice = userRepository.DeviceCheckedOut(item.Id);

            if (userHasDevice >= 1)
            {
                <tr>
                    <td>
                        <div class="hiredOut-PopUp">
                            <div class="yellow-text">
                                <div class="popup-info-icon">i</div> @Html.DisplayFor(modelItem => item.FirstName)
                            </div>
                            <div class="hiredOut-info user-with-devices">
                                <div class="search-user-devices">@Html.DisplayFor(modelItem => item.FirstName) has hired out one or more devices<br/>
                                    @Html.ActionLink("Click to here view them »", "SearchDevices", "Home", new { userById = item.Id },  null)</div>
                            </div>
                        </div>
                    </td>
                    <td><div class="yellow-text">@Html.DisplayFor(lastName => item.LastName)</div></td>
                    <td><div class="yellow-text">@Html.DisplayFor(emailAddress => item.EmailAddress)</div></td>
                    <td class="edit-delete-links">
                        <span class="yellow-text">
                            @Html.ActionLink("Edit", "EditUser", new { id = item.Id }) |
                            <a href="#" class="deleteBtn" data-userid="@item.Id">Delete</a>
                        </span>
                        <div class="confirm-delete">
                            <h4>Are you sure you want to delete @item.FirstName?</h4>
                            <div class="delete-btns-container">
                                <input type="submit" value="No" class="no-btn" />
                            </div>
                            <div class="delete-btns-container">
                                <input type="submit" value="Yes" class="yes-btn" data-userid="@item.Id" />
                            </div>
                        </div>
                        <span class="yellow-text">
                            | @Html.ActionLink("History", "ViewUserHistoryLog", new { id = item.Id })
                        </span>
                    </td>
                </tr>
            }
            else if (userHasDevice == 0)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(firstName => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(lastName => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(emailAddress => item.EmailAddress)
                    </td>
                    <td class="edit-delete-links">
                        @Html.ActionLink("Edit", "EditUser", new { id = item.Id }) |
                        <a href="#" class="deleteBtn" data-userid="@item.Id">Delete</a>
                        <div class="confirm-delete">
                            <h4>Are you sure you want to delete @item.FirstName?</h4>
                            <div class="delete-btns-container">
                                <input type="submit" value="No" class="no-btn" />
                            </div>
                            <div class="delete-btns-container">
                                <input type="submit" value="Yes" class="yes-btn" data-userid="@item.Id" />
                            </div>
                        </div>
                        | @Html.ActionLink("History", "ViewUserHistoryLog", new { id = item.Id })
                    </td>
                </tr>
            }
        }
    </table>
</div>
