﻿@model IEnumerable<ReedTestDevices.Models.UserHistoryLog>

@{
    ViewBag.Title = "ViewUserHistoryLog";
}
<div class="page-container">
    <div class="header">
        <h1 style="float: left;">Users</h1>
        <p class="create-new-text-link" style="float:right; padding-top:52px;">
            @Html.ActionLink("Back to all users »", "GetUsers")
        </p>
    </div>
    <table class="device-table">
        <tr>
            <th>
                Device
            </th>
            <th>
                Checked out
            </th>
            <th>
                Returned
            </th>
            <th>
                Returned by
            </th>
        </tr>

        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DeviceModel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckedOutDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnedByFirstName) @Html.DisplayFor(modelItem => item.ReturnedByLastName)
                </td>
            </tr>
        }

    </table>

</div>
