﻿body {
    margin: 0;
    padding: 0;
    background: url("..//Content/images/background-horizontal-test-devices.png") 0 0 repeat;
    background-color: #0099b5;
}

.inner-body-container {
    background: transparent url("..//Content/images/background-vertical-testDevices.png") 0 10px repeat;
    height: 100%;
    max-width: 1176px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    font-family: 'Nunito', verdana, sans-serif;
    font-weight: 300;
    color: #ffffff;
}

p {
    font-family: 'Nunito', verdana, sans-serif;
    font-weight: 300;
    color: #ffffff;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 58px;
    margin: 0;
    padding: 0;
    color: #ffffff;
    float: left;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    margin: 0;
    padding:0;
    color: #ffffff;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    margin: 0;
    color: #ffffff;
}

.clearfix {
    clear: both;
}

.page-container {
    min-height: 680px;
    padding: 0 50px 70px 50px;
}

.page-content {
    padding: 15px 0 0 0;
    margin: 0 auto;
    width: 100%;
    
}

.create-new-text-link {
    padding:52px 0 0 0;
    margin: 0;
    float:right;
}

.header {
    clear: both;
    height: 93px;
}

.nonAdmin-MissingLink {
    padding: 29px 0 0 0;
}

.back-link {
    clear: both;
    padding: 56px 0 0 0;
}

.yellow-text {
    color: yellow;
}

.yellow-text a {
    color: yellow;
}

.floatTextRight {
    float: right;
}

input:focus { outline: none; }


/*Navigation Header*/
header {
    width: 100%;
    margin: 0;
    padding: 0;
}

.navbar-container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding-top: 47px;
}

.navbar-logo {
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
    color: #F4F8FA;
    text-decoration: none;
}

.more-options-search {
    clear: both;
    width: 624px;
    margin: 0 auto;
    padding:30px 0 0 0;
}

.more-Options-Container {
    display: none;
    border: 1px solid red;
    float: left;
    width: 583px;
    padding: 20px 20px 0 20px;
    margin: 20px 0 0 0;
    background:#ffffff;
    border: 1px solid #007D94;
    height: 98px;
}

.more-Options-Container a {
    color:#007D94;
}

.more-options-link-open {
    float: right;
    margin: 0;
    padding: 0;
}

.more-options-link-close {
    display: none;
    float: right;
    margin: 0;
    padding: 0;
}

/*background: url("..//Content/images/more-options-arrows-sprite.png") -9px 0 no-repeat;*/

.more-options-link-open span {
    float: right;
    background: url("..//Content/images/more-options-arrows-sprite.png") 0 0 no-repeat;
    width: 8px;
    height: 8px;
    margin: 8px 0 0 8px;
}

.more-options-link-open-arrow {
    float: right;
    background: url("..//Content/images/more-options-arrows-sprite.png") 0 0 no-repeat;
    width: 8px;
    height: 8px;
    margin: 8px 0 0 8px;
}

.more-options-link-close span {
    float: right;
    background: url("..//Content/images/more-options-arrows-sprite.png") -9px 0 no-repeat;
    width: 8px;
    height: 8px;
    margin: 8px 0 0 8px;
}

.more-options-search ul {
    width: 33%;
    float: left;
    margin: 0;
    padding:0;
    list-style-type: none;
}

.more-options-search li {
    padding: 5px 0 23px 0;
    margin: 0;
    font-family: 'Nunito', verdana, sans-serif;
    font-weight: 300;
    color: #ffffff;
}


/*Home page*/
.homepage-container {
    width: 100%;
    padding-top: 166px;
    min-height: 750px;
}

.search-box-container {
    width: 625px;
    margin: 0 auto;
}

input.search-textbox {
    width: 459px;
    height: 70px;
    border: 1px solid #00B9DB;
    margin: 0;
    padding: 0 0 0 15px;
    float: left;
    font-family: 'Nunito', verdana, sans-serif;
    font-weight: 300;
    font-size: 35px;
    color: #0099b5;
}

.search-textbox::-webkit-input-placeholder {
    color: #aae9f5;
    font-family: 'Nunito', verdana, sans-serif;
    font-weight: 300;
    font-size: 35px;
    padding: 18px 0 0 0;
    margin: 0;
    line-height: 10px !important;
    overflow: visible;
}

input.search-btn {
    width: 123px;
    height: 71px;
    padding: 0;
    margin: 0 0 0 26px;
    border: none;
    background: #10a3be url("..//Content/images/search-icon.png") 0 0 no-repeat;
    border: 1px solid #00B9DB;
    color: #ffffff;
    cursor: pointer;
    float: left;
}


/*Device page*/

.product-tables-container {
    min-height: 750px;
    
}

.device-table {
    padding: 10px 0 0 0;
    margin: 0 auto;
    width: 100%;
}

.device-table th {
    text-align: left;
    font-family: 'Nunito', verdana,  sans-serif;
    font-size: 22px;
    color: #ffffff;
    margin: 0;
    padding:10px 0 10px 0;
    height: 15px;
}

.device-table td {
    text-align: left;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', verdana,  sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
    height: 46px;
}

td.edit-delete-links {
    text-align: right;
}

td.checkoutUser-testLink {
    text-align: right;
    width:20%
}

.checkout-info-container {
    margin: 0;
    padding:9px 0 0 0 !important;
    float: right;
}

.hiredOut-PopUp p {
    float: left;
    margin: 0;
    padding: 0;
    color: yellow;
}

.popup-info-icon {
    
    border: 1px solid yellow;
    border-radius: 20px;
    width: 13px;
    height: 20px;
    padding: 0 0 0 7px;
    float: left;
    margin:0 10px 1px 3px;
    font-weight: bold;
}

.hiredOut-PopUp {
    position:relative;
    display: block;
}

.hiredOut-info {
     background:#ffffff;
    border: 1px solid #007D94;
    color:#007D94;
    position:absolute;
    top: -75px;
    width:252px;
    height:50px;
    display:none;
    padding: 10px;
    margin:0;
    z-index: 1;
}

.user-with-devices {
    width:375px;
}

.search-user-devices a {
    color:#007D94;
    padding-top: 8px;
    display: block;
}

.return-device-link {
    clear: both;
    text-align: right;
    padding-top: 10px;
}


/*Forms (Create and Edit Users and Devices)*/

/* style placeholder text */
::-webkit-input-placeholder {
   color: #aae9f5;
}

:-moz-placeholder { /* Firefox 18- */
   color: #aae9f5;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #aae9f5;  
}

:-ms-input-placeholder {  
   color: #aae9f5;  
}

.form-container {
    width: 100%;
    margin: 0 auto;
    padding: 32px 0 0 0;
    min-height: 750px;
}

.edit-container {
    margin: 0 auto;
    max-width: 573px;
    padding: 09px 0 0 0;
}

.create-user-container {
    padding-top: 65px;
}

.create-user-container {
    padding-top: 151px;
}

.create-device-container {
    padding-top: 151px;
}

.edit-device-container {
    padding-top: 7px;
}

.form {
    float: left;
}

.form-row {
    clear: both;
    height: 72px;
}

.form-label {
    float: left;
    width: 148px;
    font-family: 'Nunito', verdana,  sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ffffff;
    margin: 0;
    padding: 4px 20px 0 0;
    text-align: right;
    
}

.form-field {
    float: left;
    height: 43px;
    margin: 0;
    padding-left: 7px;
}

.form-input {
    width: 357px;
    height: 45px;
    border: 1px solid #00B9DB;
    margin: 0;
    padding: 0 0 0 15px;
    color: #0099b5;
    font-size: 20px;
    font-family: 'Nunito', verdana, sans-serif;
    font-weight: 300;
}

.button-row {
    clear: both;
    padding: 0 0 0 130px;
}

.save-button {
    width: 73px;
    height: 45px;
    border: none;
    background-color: #10a3be;
    border: 1px solid #00B9DB;
    color: #ffffff;
    cursor: pointer;
    float: left;
    margin: 1px 0 0 46px;
    padding:0;
    font-family: 'Nunito', verdana,  sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.new-user-btn {
    margin: 1px 0 0 46px;
}

.text-danger {
    display: block;
    color: yellow;
    font-family: 'Nunito', verdana,  sans-serif;
    font-weight: 300;
    font-size: 16px;
    padding: 0;
}

.assign-admin-link {
    float: right;
    padding: 6px 24px 20px 0;
}

.edit-user-message {
    background-color: red;
}





/* Delete and Return Pages */
.dl-container {
    max-width: 575px;
    margin: 0 auto;
    padding: 46px 40px 0 0;
}

dt {
    float: left;
    font-family: 'Nunito', verdana,  sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
    margin: 0;
    padding: 0 32px 0 0;
    width: 170px;
    text-align: right;
    height:48px;
    
}

dd {
    font-family: 'Nunito', verdana, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ffffff;
    float: left;
    margin: 0;
    padding: 0 0 0 20px;
    height:48px;
}

.delete-button-row {
    clear: both;
    width: 316px;
    margin: 0 auto;
    padding: 23px 0 0 50px;
}

.delete-button {
    width: 72px;
    height: 45px;
    border: none;
    background-color: #10a3be;
    border: 1px solid #00B9DB;
    color: #ffffff;
    cursor: pointer;
    float: left;
    margin: 0 0 0 22px;
    padding:0;
    font-family: 'Nunito', verdana,  sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.return-container {
    padding: 153px 40px 0 0;
}

/* return out admin links*/
.return-Link-Admin {
    float: right;
}

.return-Link-Admin.returnReturn {
    padding-left: 15px;
}

.return-Link-Admin.returnEdit {
    border-right: 1px solid yellow;
    padding: 0 15px;
}

.return-Link-Admin.returnDelete {
    border-right: 1px solid yellow;
    padding-right: 15px;
}

/* Check out admin links*/
.checkOut-Link-Admin {
    float: right;
}

.checkOut-Link-Admin.checkoutCheckout {
    padding-left: 15px;
}

.checkOut-Link-Admin.checkoutEdit {
    border-right: 1px solid #fff;
    padding: 0 15px;
}

.checkOut-Link-Admin.checkoutDelete {
    border-right: 1px solid #fff;
    padding-right: 15px;
}

.return-Link a {
    color: yellow;
    font-size: 16px;
}

.return-Link-Admin a {
    color: yellow;
}

/*Navigation Footer*/
footer {
    width: 100%;
    height: 65px;
    margin: 0;
    padding: 0;
}

footer p {
    font-family: 'Nunito', verdana, sans-serif;
    color: #F4F8FA;
    font-weight: 300;
    font-size: 15px;
}


/* Checkout Device Page */
.checkout-page-content {
    padding: 34px 0 0 0;
    margin: 0 auto;
    width: 91%;
}

.device-checkOut {
    float: left;
    width: 50%;
    margin: 0;
    padding-top: 26px;
}

.device-checkOut dt {
    float: left;
    width: 250px;
    margin: 0;
    padding: 0;
    text-align: left;
}

.device-checkOut dd {
    float: left;
    margin: 0;
    padding: 0;
}

.userList {
    float: left;
    width: 373px;
    margin: 0;
    padding-top:9px;
    padding-left: 14px;
}

.userName-dropDown {
    width: 392px;
    height: 47px;
    border: 1px solid #00B9DB;
    margin: 0;
    padding: 0 0 0 15px;
    color: #0099b5;
    font-size: 20px;
    font-family: 'Nunito', verdana, sans-serif;
    font-weight: 300;
}

.userList select {
    color: #0099b5;
}

option[class="userName"] {
    
    color: #0099b5;
    font-weight: 300 !important;
    width: 367px;
}

select {
  background: url("http://email3r.com/email3r/resources/images/favicon.png") 92%  50% no-repeat #fff;
}

.dropdown-wrapper {
    width: 372px;
    overflow: hidden;
    padding-top: 18px;
}

.create-new-user {
    text-align: right;
    padding-top: 30px;
}

.checkout-button-row {
    margin: 0;
    padding: 23px 0 0 0;
}

.checkout-button {
    width: 98px;
    height: 45px;
    border: none;
    background-color: #10a3be;
    border: 1px solid #00B9DB;
    color: #ffffff;
    cursor: pointer;
    float: left;
    margin: 0;
    padding:0;
    font-family: 'Nunito', verdana,  sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.page-content.nonAdmin {
    text-align: center;
    padding-top: 59px;
}

.device-checkOut.nonAdmin {
    margin: 0 auto;
    float: none;
    padding-left: 10px;
}

.checkout-button-row.nonAdmin {
    clear: both;
    padding-left: 475px;
    padding-top: 46px;
}


/* Access Denied Page */

.access-denied-container {
    width: 100%;
    padding:0;
    min-height: 750px;
}

.access-denied-text-container {
   padding-top:35px; 
}

#accessDenied-p2 {
    padding-top:11px;
}