﻿


/********Users Page********/
.messagePanelContainer {
    clear: both;
    width: 1055px;
    height: 50px;
}

.editUsers {
    padding-top: 6px;
}

.editDevice {
    padding-top: 8px;
}

#messagePanel-error {
    display: none;
    width: 100%;
    height: 34px;
    z-index: 1;
    background-color: #B53122;
    border: 1px solid #6E1E15;
    padding: 12px 0 0 20px;
}

#messagePanel-success {

    display: none;
    width: 100%;
    height: 34px;
    z-index: 1;
    background-color: #42B56D;
    border: 1px solid #2B7547;
    padding: 12px 0 0 20px;
}

#message, #message-isAdmin, #message-notAdmin, #message-edit-successful {
    width: 100%;
    height: 50px;
    font-family: 'Nunito', verdana, sans-serif;
    font-weight: 300;
    color: #ffffff;
}

.confirm-delete, .confirm-returnDevice, .confirm-checkout {
    display:none; 
    border:1px solid rgba(255, 255, 255, 0.5); 
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.5);
    background-color: #00A1B5;
    padding: 25px;
    width:750px; 
    height:180px; 
    position:fixed; 
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index:1;
}

.confirm-delete h4, .confirm-returnDevice h4, .confirm-checkout h4 {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    color: #fff;
    text-align: left;
}

.delete-btns-container, .checkout-btns-container {
    float: left;
    text-align: center;
    width: 50%;
    padding: 40px 0;
}

.confirm-delete input, .confirm-returnDevice input, .confirm-checkout input {
    width: 200px;
    height:60px;
    text-align: center;
    font-family: 'Nunito', verdana, sans-serif;
    font-weight: 400;
    font-size: 28px;
    cursor: pointer;
}

.no-btn {
    margin-right: 10px;
    background-color: #B53122;
    border: 1px solid #0099b5;
    color: #ffffff;
}

.yes-btn {
    margin-left: 10px;
    background-color: #42B56D;
    border: 1px solid #0099b5;
    color: #ffffff;
}

.yes-btn:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    border: 1px solid #0099b5;
}

.no-btn:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    border: 1px solid #0099b5;
}
